--
-- PostgreSQL database dump
--

\restrict eaATq1BUyewk0yF5y58gRotAFthxhsCaORxGNLCaaVzq516EnFTJiUf0Ltbwuj7

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Basement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Basement" (
    id text NOT NULL,
    "basementId" text NOT NULL,
    "buildingVersionId" text NOT NULL,
    "basementNumber" integer NOT NULL,
    "basementName" text NOT NULL,
    status text DEFAULT 'EXISTING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Basement" OWNER TO postgres;

--
-- Name: Building; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Building" (
    id text NOT NULL,
    "buildingId" text NOT NULL,
    "buildingName" text NOT NULL,
    "assetType" text DEFAULT 'building'::text NOT NULL,
    status text DEFAULT 'EXISTING'::text NOT NULL,
    "currentVersionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Building" OWNER TO postgres;

--
-- Name: BuildingVersion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BuildingVersion" (
    id text NOT NULL,
    "buildingId" text NOT NULL,
    "versionNumber" integer DEFAULT 1 NOT NULL,
    status text DEFAULT 'EXISTING'::text NOT NULL,
    "totalFloors" integer,
    "totalBasements" integer,
    description text,
    "effectiveFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "effectiveTo" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."BuildingVersion" OWNER TO postgres;

--
-- Name: Floor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Floor" (
    id text NOT NULL,
    "floorId" text NOT NULL,
    "buildingVersionId" text NOT NULL,
    "floorNumber" integer NOT NULL,
    "floorName" text NOT NULL,
    status text DEFAULT 'EXISTING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "elevationMaxM" double precision,
    "elevationMinM" double precision
);


ALTER TABLE public."Floor" OWNER TO postgres;

--
-- Name: Parking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Parking" (
    id text NOT NULL,
    "parkingId" text NOT NULL,
    "buildingVersionId" text NOT NULL,
    "parkingNumber" text NOT NULL,
    "parkingType" text,
    "floorNumber" integer,
    "areaSqFt" double precision,
    status text DEFAULT 'EXISTING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Parking" OWNER TO postgres;

--
-- Name: Unit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Unit" (
    id text NOT NULL,
    "unitId" text NOT NULL,
    "floorId" text NOT NULL,
    "unitNumber" text NOT NULL,
    "unitType" text,
    bhk double precision,
    "areaSqFt" double precision,
    status text DEFAULT 'EXISTING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Unit" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Basement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Basement" (id, "basementId", "buildingVersionId", "basementNumber", "basementName", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Building; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: BuildingVersion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Floor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Floor" (id, "floorId", "buildingVersionId", "floorNumber", "floorName", status, "createdAt", "updatedAt", "elevationMaxM", "elevationMinM") FROM stdin;
\.


--
-- Data for Name: Parking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Parking" (id, "parkingId", "buildingVersionId", "parkingNumber", "parkingType", "floorNumber", "areaSqFt", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Unit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Unit" (id, "unitId", "floorId", "unitNumber", "unitType", bhk, "areaSqFt", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
2e613d5b-0c49-466b-9c78-2075fe25e482	ce9442d2cb272bed70e55ca64b0fe17cfa37f98a71f69e22b0d1687e3db72949	2026-09-04 20:17:40.734915+00	20260904201740_init	\N	\N	2026-09-04 20:17:40.628989+00	1
\.


--
-- Name: Basement Basement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Basement"
    ADD CONSTRAINT "Basement_pkey" PRIMARY KEY (id);


--
-- Name: BuildingVersion BuildingVersion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BuildingVersion"
    ADD CONSTRAINT "BuildingVersion_pkey" PRIMARY KEY (id);


--
-- Name: Building Building_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Building"
    ADD CONSTRAINT "Building_pkey" PRIMARY KEY (id);


--
-- Name: Floor Floor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Floor"
    ADD CONSTRAINT "Floor_pkey" PRIMARY KEY (id);


--
-- Name: Parking Parking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Parking"
    ADD CONSTRAINT "Parking_pkey" PRIMARY KEY (id);


--
-- Name: Unit Unit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Unit"
    ADD CONSTRAINT "Unit_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Basement_basementId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Basement_basementId_idx" ON public."Basement" USING btree ("basementId");


--
-- Name: Basement_basementId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Basement_basementId_key" ON public."Basement" USING btree ("basementId");


--
-- Name: Basement_buildingVersionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Basement_buildingVersionId_idx" ON public."Basement" USING btree ("buildingVersionId");


--
-- Name: BuildingVersion_buildingId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BuildingVersion_buildingId_idx" ON public."BuildingVersion" USING btree ("buildingId");


--
-- Name: BuildingVersion_buildingId_versionNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "BuildingVersion_buildingId_versionNumber_key" ON public."BuildingVersion" USING btree ("buildingId", "versionNumber");


--
-- Name: BuildingVersion_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BuildingVersion_status_idx" ON public."BuildingVersion" USING btree (status);


--
-- Name: Building_buildingId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Building_buildingId_idx" ON public."Building" USING btree ("buildingId");


--
-- Name: Building_buildingId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Building_buildingId_key" ON public."Building" USING btree ("buildingId");


--
-- Name: Building_currentVersionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Building_currentVersionId_key" ON public."Building" USING btree ("currentVersionId");


--
-- Name: Building_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Building_status_idx" ON public."Building" USING btree (status);


--
-- Name: Floor_buildingVersionId_floorNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Floor_buildingVersionId_floorNumber_key" ON public."Floor" USING btree ("buildingVersionId", "floorNumber");


--
-- Name: Floor_buildingVersionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Floor_buildingVersionId_idx" ON public."Floor" USING btree ("buildingVersionId");


--
-- Name: Floor_floorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Floor_floorId_idx" ON public."Floor" USING btree ("floorId");


--
-- Name: Floor_floorId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Floor_floorId_key" ON public."Floor" USING btree ("floorId");


--
-- Name: Parking_buildingVersionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Parking_buildingVersionId_idx" ON public."Parking" USING btree ("buildingVersionId");


--
-- Name: Parking_parkingId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Parking_parkingId_idx" ON public."Parking" USING btree ("parkingId");


--
-- Name: Parking_parkingId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Parking_parkingId_key" ON public."Parking" USING btree ("parkingId");


--
-- Name: Unit_floorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Unit_floorId_idx" ON public."Unit" USING btree ("floorId");


--
-- Name: Unit_unitId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Unit_unitId_idx" ON public."Unit" USING btree ("unitId");


--
-- Name: Unit_unitId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Unit_unitId_key" ON public."Unit" USING btree ("unitId");


--
-- Name: Basement Basement_buildingVersionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Basement"
    ADD CONSTRAINT "Basement_buildingVersionId_fkey" FOREIGN KEY ("buildingVersionId") REFERENCES public."BuildingVersion"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BuildingVersion BuildingVersion_buildingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BuildingVersion"
    ADD CONSTRAINT "BuildingVersion_buildingId_fkey" FOREIGN KEY ("buildingId") REFERENCES public."Building"("buildingId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Building Building_currentVersionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Building"
    ADD CONSTRAINT "Building_currentVersionId_fkey" FOREIGN KEY ("currentVersionId") REFERENCES public."BuildingVersion"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Floor Floor_buildingVersionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Floor"
    ADD CONSTRAINT "Floor_buildingVersionId_fkey" FOREIGN KEY ("buildingVersionId") REFERENCES public."BuildingVersion"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Parking Parking_buildingVersionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Parking"
    ADD CONSTRAINT "Parking_buildingVersionId_fkey" FOREIGN KEY ("buildingVersionId") REFERENCES public."BuildingVersion"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Unit Unit_floorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Unit"
    ADD CONSTRAINT "Unit_floorId_fkey" FOREIGN KEY ("floorId") REFERENCES public."Floor"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict eaATq1BUyewk0yF5y58gRotAFthxhsCaORxGNLCaaVzq516EnFTJiUf0Ltbwuj7

